@media (max-width: 2560px) {

    /*------------------DeskNav------------------*/
    .desknav {
        height: 80px;
        padding: 0px 0px;

        z-index: 10000;
        position: sticky;
        overflow: hidden;
        top: 0;
        background-color: rgb(255, 238, 205);
    }

    .container-fluid {
        padding: 0 0;
        height: 100%;
    }

    .deskrow {
        width: 100%;
        height: 100%;
        margin: 0 0;
        justify-content: center;
        align-content: center;
        align-items: center;
        /* border-bottom: 1px solid orange; */
    }


    .ham {
        padding: 0 0;
        /* border: 1px solid green; */
        font-size: 35px;
        /* justify-content: center; */
        /* padding-top: 10px; */
        padding-left: 4%;
    }

    .ham i {
        /* border: 1px solid red; */
    }

    .ham i:hover {
        color: orange;
        cursor: pointer;
        transform: scale(120%);
    }

    .opts {
        padding: 0 0;
        /* border: 1px solid green; */

        font-size: 30px;
        /* padding-top: 15px; */
    }

    .opts a {
        color: black;
        font-weight: 500;
        margin-left: 50px;
        /* border: 1px solid red; */
    }

    .opts a:hover {
        color: orange;
        text-decoration: none;
    }

    .logo {
        padding: 0 0;
        /* border: 1px solid green; */

        font-size: 50px;
        padding-left: 4%;
        font-weight: 800;
    }

    .logo a {
        color: orange;
        /* border: 1px solid red; */
    }

    .logo a:hover {
        text-decoration: none;
    }


    .searchbar {
        padding: 0 0;
        /* border: 1px solid green; */
    }

    .searchbar input {
        /* margin-top: 19px; */
        /* margin-left: 20%; */
        width: 100%;
        height: 40px;
        padding-left: 20px;
        padding-right: 35px;

        border-radius: 20px;

        border: 2px solid orange;
        box-shadow: none;
        background-color: rgb(253, 241, 220);
        text-align: center;

        color: black;
    }

    .searchbar input:focus-visible {
        outline: none;
        border: 2px solid orange;
        background-color: white;
    }

    .searchbar input:focus-visible {
        color: black;
    }



    .searchbar i {
        position: absolute;
        margin-top: 10px;
        margin-left: -30px;
        color: orange;
        /* border: 1px solid red; */
    }

    /* .searchbar:hover{
        color: orange;
    } */

    .optsicons {
        padding: 0 0;
        /* border: 1px solid green; */

        font-size: 40px;
        /* padding-top: 10px; */
        /* padding-left: 6%; */

        text-align: right;

        padding-right: 1%;

    }

    .optsicons i {
        margin-left: 10%;
        /* border: 1px solid red; */

        cursor: pointer;
    }

    .optsicons i:hover {
        color: orange;
        transform: scale(120%);
    }

    .optsicons a {
        color: black;
    }



    /* Other Navs Start*/

    .desknav1024 {
        display: none;
    }

    .mobnav {
        display: none;
    }

    /* Other Navs End */



    .heartpop {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .heartpop .modal-dialog {
        /* margin: 0 0; */
        /* padding: 0 0; */

        max-width: 80%;
        flex: 0 0 100%;
    }

    .heartpop .modal-dialog .modal-header {
        background-color: rgb(255, 238, 205);
    }

    .heartpop .modal-dialog .modal-header h5 {
        color: orange;
    }

    .heartpop .modal-dialog .modal-header button {
        color: orange;
        opacity: 1;
    }


    .heartpop .modal-dialog .modal-body {
        background-color: orange;

        padding: 2% 5%;
    }

    .heartpop .modal-dialog .modal-body ul li {
        background-color: orange;
        border: none;
    }

    /* Desk Nav End */








    /* home hamburger icon */


    .hampop {
        max-width: 100%;
        flex: 0 0 100%;
        height: 100vh;
    }

    .hampop .modal-dialog {
        margin: 0 0;
        padding: 0px 0px;

        max-width: 40%;
        flex: 0 0 100%;
        height: 100%;
    }


    .hampop .modal-content {
        border-radius: 0px;
        background-color: rgb(255, 238, 205);
        height: 100%;
    }

    .hamburger-logo {
        font-size: 40px;
        font-weight: 800;
        color: orange;
        text-align: center;
        padding-top: 10px;
    }

    .hamburger-icon-options-nav-btn {
        width: 30%;
        height: 30px;
        margin-left: 16px;
        border: none;
        background-color: orange;
        border-radius: 10px;
        color: white;
        margin-top: 20px;
    }

    .hamburger-icon-options-body {
        width: 100%;
        height: 90%;
        padding: 20px 20px;
        margin: 0 0;
    }

    .hamburger-icon-options-body-container {
        width: 100%;
        height: 100%;
        margin: 0 0;
        padding: 0 0;
    }

    /* hamburger icons row */

    .hamburger-icon-options-body-row-men {
        width: 100%;
        height: 16%;
        margin: 0 0;
        padding: 0 0;

        display: none;
    }

    .hamburger-icon-options-body-row-women {
        width: 100%;
        height: 16%;
        margin: 0 0;
        padding: 0 0;

        display: none;
    }

    .hamburger-icon-options-body-row-sneakers {
        width: 100%;
        height: 16%;
        margin: 0 0;
        padding: 0 0;
    }


    .hamburger-icon-options-nav-btn-clicked {
        background-color: white;
        color: orange;
        border: 1px solid orange;
    }

    .hamburger-carousel-card {
        width: 120px;
        border: none;
        border-radius: 10px;
        background-color: rgb(238, 217, 183);
    }

    .hamburger-carousel-card-img {
        border-radius: 10px;
        width: 120px;
        height: 120px;
    }

    .hamburger-carousel-card-txt {
        font-size: 15px;
        text-align: center;
        font-weight: 600;
        margin-top: 3px;
        margin-bottom: 3px;
    }


    .nav-horizontal-hr{
        border: 1px dashed orange;
        width: 100%;
    }


    





    /* Hamburger Icon End */































    /* Banner Options */



    .ban {
        width: 100%;
        z-index: 0;
        top: 0;
        height: 1350px;
    }


    .ban .row {

        margin: 0 0;
        height: 100%;

        justify-content: center;
        align-items: center;

        /* border: 2px solid red; */
    }


    .ban .row .bancol {
        /* border: 1px solid red; */
        height: 100%;
    }

    .ban .row .bancol .card {
        cursor: pointer;
        width: 60%;
        border-radius: 20px;
        margin-left: 20%;
        margin-top: 35%;
        background: transparent;
        border: none;
    }


    .ban .row .bancol .card img {
        border-radius: 20px;
    }

    .ban .row .bancol .card a {
        background-color: transparent;
        border: none;
        color: white;
        text-align: center;
        font-size: 45px;
        font-weight: 800;
    }

    .banhov {
        transform: scale(120%);
        transition-duration: 0.2s;
        transition-timing-function: linear;
    }

    .banhovout {
        transform: scale(100%);
        transition-duration: 0.2s;
        transition-timing-function: linear;
    }








    /* footer */

    .footer {
        width: 100%;
        height: 500px;
        color: white;
        background-color: rgb(255, 238, 205);
        padding: 0 0;
    }

    .footer-container {
        margin: 0 0;
        padding: 0 0;
        width: 100%;
        height: 100%;
    }

    .footer-row {
        margin: 0 0;
        padding: 30px 20px;
        width: 70%;
        height: 100%;
        margin-left: 15%;
    }

    .footer-section {
        width: 25%;
        height: 65%;
        padding: 0px 40px;
    }

    .footer-section-heading {
        font-size: 25px;
        text-align: left;
        color: orange;
        margin-bottom: 15px;
        font-weight: 700;
    }

    .footer-section-ul {
        list-style: none;
        padding: 0 0;
    }

    .footer-section-li {
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: 700;
    }

    .footer-section-li-a {
        color: rgb(95, 95, 95);
    }

    .footer-section-li-a:hover {
        color: orange;
        text-decoration: none;
    }

    .brand-logo {
        font-size: 18px;
    }

    .footer-section-li-a i {
        margin-right: 5px;
        font-size: 22px;
    }

    .facebook:hover {
        color: #1877F2;
    }

    .x:hover {
        color: black;
    }

    .instagram:hover {
        color: #E4405F;
    }

    .youtube:hover {
        color: #FF0000;
    }

    .linkedin:hover {
        color: #0077B5;
    }




    .footer-credits {
        position: relative;
        width: 86%;
        height: 66px;
        padding: 0px 20px;
        margin-left: 7%;
    }



    .footer-payment-credits {
        position: absolute;
        left: 0;
        height: 66px;
        padding: 10px 10px;
        text-align: left;
        display: inline-block;
    }

    .footer-section-payment-heading {
        font-size: 15px;
        text-align: left;
        color: black;
        font-weight: 700;
        display: inline-block;
        margin-right: 10px;
    }

    .footer-payment-img {
        width: 50px;
        display: inline-block;
        margin-right: 5px;
    }

    .vertical-hr {
        position: absolute;
        transform: rotate(90deg);
        margin-left: 516px;
        margin-top: -18px;
        width: 20px;
        border: 1px solid rgb(95, 95, 95);

    }

    .footer-shipping-partners {
        position: absolute;
        right: 0;
        height: 66px;
        padding: 10px 10px;
        text-align: right;
        display: inline-block;
    }





    .footer-copyright {
        width: 100%;
        height: 40px;
        padding: 10px 10px;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        color: rgb(95, 95, 95);
    }








    /* Cart Page */




    /* Login Page */



    .login-form {
        width: 30%;
        height: 450px;
        margin-left: 35%;
        margin-top: 7%;
        background-color: rgb(255, 238, 205);
        padding: 20px 20px;
        border-radius: 20px;
    }

    .login-form-input-email:focus {
        border-color: orange;
        box-shadow: 0 0 0 .2rem rgba(255, 166, 0, 0.596);
    }

    .login-form-input-password:focus {
        border-color: orange;
        box-shadow: 0 0 0 .2rem rgba(255, 166, 0, 0.596);
    }

    .login-form-btn {
        background-color: orange;
        border: none;
        width: 20%;
        margin-left: 40%;
    }

    .login-form-btn,
    .login-form-btn:focus,
    .login-form-btn:active,
    .login-form-btn.active,
    .login-form-btn:focus:active {
        background-color: orange !important;
        border-color: orange !important;
        box-shadow: none !important;
        outline: none !important;
    }

    .login-page {
        margin: 0 0;
        padding: 0 0;
        width: 100%;
        height: 80vh;
    }

    .login-page-container {
        margin: 0 0;
        padding: 0 0;
        width: 100%;
        height: 100%;
    }

    .login-page-row {
        margin: 0 0;
        width: 100%;
        height: 100%;
    }

    .or-text {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .login-form-google-button {
        width: 39%;
        height: 50px;
        margin-left: 5%;
        margin-right: 5%;
        border: 1px solid orange;
        border-radius: 10px;
        background-color: white;
    }

    .login-form-google-button:hover {
        transition: ease-in-out;
        transition-timing-function: linear;
        transition-duration: 100ms;
        transform: scale(105%);
    }

    .login-form-facebook-button {
        width: 39%;
        height: 50px;
        margin-left: 5%;
        margin-right: 5%;
        border: 1px solid orange;
        border-radius: 10px;
        background-color: white;
    }

    .login-form-facebook-button:hover {
        transition: ease-in-out;
        transition-timing-function: linear;
        transition-duration: 100ms;
        transform: scale(105%);
    }

    .login-form-google-button-img {
        width: 30px;
        margin-right: 10px;
    }

    .login-form-facebook-button-img {
        width: 30px;
        margin-right: 10px;
    }

    .login-page-hr {
        border: 1px solid orange;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .login-form-register-message{
        text-align: center;
        font-size: 17px;
    }

    .login-form-register-link{
        color: red;
    }

    .login-form-register-link:hover{
        color: red;
        text-decoration: underline;
    }

    .register-page{
        margin: 0 0;
        padding: 0 0;
        width: 100%;
        height: 89vh;
    }

    .register-form{
        width: 30%;
        height: 660px;
        margin-left: 35%;
        margin-top: 7%;
        background-color: rgb(255, 238, 205);
        padding: 20px 20px;
        border-radius: 20px;
    }


































/* Products in home.html */


    .product-details-section{
        width: 100%;
        height: 1000px;
        margin: 0 0;
        padding: 0 0;
    }

    .product-details-container{
        width: 100%;
        height: 100%;
        margin: 0 0;
        padding: 0 0;
    }

    .product-details-row{
        width: 100%;
        height: 100%;
        margin: 0 0;
        padding: 0 0;
    }

    .product-details-col{
        margin: 0 0;
        padding: 0 0;
        padding-top: 30px;
        padding-left: 85px;
    }

    .product-details-section-img{
        width: 300px;
        margin-right: 20px;
        margin-right: 60px;
        margin-bottom: 28px;
    }

    .product-details-col-info{
        margin: 0 0;
        padding: 0 0;
        padding-top: 20px;
    }

    .product-details-col-info-heading{
        font-size: 35px;
        font-weight: 700;
        color: rgb(67, 67, 67);
        margin: 0 0;
    }

    .product-details-col-info-category{
        color: rgb(168, 168, 168);
        font-size: 18px;
        margin: 0 0;
    }

    .product-details-col-info-hr{
        margin-left: 0px;
        width: 800px;
        border: 1px solid gray;
    }

    .product-details-col-info-size-heading{
        margin-top: 25px;
        color: black;
    }

    .boxes-size-categories{
        border: 1px solid gray;
        width: 50px;
        text-align: center;
        border-radius: 5px;
        display: inline-block;
        cursor: pointer;
    }

    .number-select{
        max-width: 50px;
    }

    .product-stars{
        position: absolute;
        background-color: white;
        border-radius: 20px;
        display: inline-block;
        width: 60px;
        font-size: 14px;
        height: 30px;
        z-index: 100;
        padding: 4px 8px;
        margin-top: 390px;
        margin-left: -280px;
    }

    .card-body-with-hover{
        display: none;
    }

    .card-body-wishlist{
        background-color: rgb(254, 80, 80);
        border: none;
        width: 100%;
        margin-bottom: 18px;
        color: white;

        border-radius: 10px;
    }

    .card-body-buy{
        background-color: orange;
        border: none;
        width: 75%;
        margin-bottom: 10px;
        color: white;

        border-radius: 10px;
    }

    .card-body-cart{
        background-color: orange;
        border: none;
        width: 23%;
        margin-bottom: 10px;
        color: white;

        border-radius: 10px;
    }













}

@media (max-width: 1920px) {


    .desknav {
        height: 80px;
        padding: 0px 0px;
    }

    .ham {
        /* padding-top: 10px; */
        padding-left: 2%;
    }

    .opts a {
        margin-left: 14px;
    }

    .logo {
        padding-left: 2%;
    }

    .searchbar input {
        /* margin-top: 18px; */
        /* margin-left: 16%; */
        width: 100%;
        height: 40px;
        padding-left: 20px;
        padding-right: 30px;
    }

    .optsicons {
        /* padding-top: 15px; */
        font-size: 30px;
        /* padding-left: 3%; */
    }

    .optsicons i {
        margin-left: 10%;
    }














    .ban {
        height: 900px;
    }

    .ban .row .bancol .card {
        margin-top: 25%;
    }











}

@media (max-width: 1680px) {

    .ban {
        height: 850px;
    }

    .ban .container {
        height: 100%;
    }

}

@media (max-width: 1440px) {

    .desknav {
        height: 80px;
        padding: 0px 0px;
    }

    .ham {
        /* padding-top: 10px; */
        padding-left: 2%;
    }

    .opts a {
        margin-left: 10px;
    }

    .logo {
        padding-left: 5%px;
    }

    .searchbar input {
        /* margin-top: 22px; */
        /* margin-left: 17%; */
        width: 100%;
        height: 35px;
        padding-left: 20px;
        padding-right: 25px;
    }



    .optsicons {
        /* padding-top: 15px; */
        /* padding-left: 2%; */
    }

    .optsicons i {
        margin-left: 10%;
    }




    .ban {
        height: 650px;
    }








}












@media (max-width: 1024px) {



    .desknav {
        display: none;
    }


    .desknav1024 {
        display: block;
        height: 50px;
        padding: 0px 0px;

        z-index: 1;
        position: sticky;
        overflow: hidden;
        top: 0;
        background-color: rgb(255, 238, 205);
    }


    .deskrow1024 {
        width: 100%;
        height: 100%;
        margin: 0 0;

        justify-content: center;
        align-content: center;
        align-items: center;
    }


    .ham {
        padding-top: 0px;
        padding-left: 15px;
        font-size: 30px;
    }


    .logo {
        padding-left: 0px;
        font-size: 30px;
        font-weight: 800;
    }

    .searchbar input {
        margin-right: 0px;
        width: 100%;
        height: 25px;
        padding-left: 15px;
        padding-right: 20px;
        border: 1px solid orange;
    }

    .searchbar i {
        margin-top: 3px;
        font-size: 15px;
        margin-left: -25px;
    }

    .optsicons {
        font-size: 20px;
    }

    .optsicons i {
        margin-left: 5px;
    }




    .ban {
        height: 600px;
    }






    .ban .row .bancol .card {
        margin-top: 40%;
    }

    .ban .row .bancol .card a {
        font-size: 20px;
    }





}









@media (max-width: 768px) {


    .ban {
        display: none;
    }

    .desknav {
        display: none;
    }

    .desknav1024 {
        display: none;
    }

    .mobnav {
        display: block;
        height: 50px;
        padding: 0px 0px;

        z-index: 1;
        position: sticky;
        overflow: hidden;
        top: 0;
        background-color: rgb(255, 238, 205);
    }

    .mobrow {
        width: 100%;
        height: 100%;
        margin: 0 0;

        justify-content: center;
        align-content: center;
        align-items: center;

        border-bottom: 2px solid orange;
    }


    .ham {
        padding-top: 0px;
        padding-left: 8px;
        font-size: 25px;
    }

    .logo {
        padding-left: 0px;
        font-size: 28px;
        font-weight: 500;
    }

    .optsicons {
        padding-top: 0px;
        font-size: 20px;
        text-align: right;
        padding-right: 5px;
    }

    .optsicons i {
        margin-left: 15px;
    }





}

@media (max-width: 576px) {



    .ham {
        padding-left: 0px;
    }

    .optsicons i {
        margin-left: 2px;
    }







}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}